{% extends 'main.html' %}
{%  block content %}
    <div class="card" style="width: 18rem;">
  <img src="{{ post.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <p class="card-text">Оценка: {{ post.rate }}</p>
    <p class="card-text">Катергория: {{ post.category }}</p>

    {% for tag in post.tags.all %}
        <p class="card-text">Тег: {{ tag.title }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}